@media(max-width:767px){

     .no-15-right, .no-15, .no-15-left{
         padding: 0 15px !important;
     }

}
@media(min-width:768px) and (max-width:991px){
    #navigationbar{
        margin:0 0 0;
        width:100%;
    }
    #navigationbar{
        text-align:center;
    }

    #navigationbar ul li{
        display:inline-block;
        position: relative;
        /* float: left; */
        margin:0 5px;
    }

    .no-15-right, .no-15, .no-15-left{
         padding: 0 15px !important;
     }
}
@media(min-width:992px) and (max-width:1199px){}
@media(min-width:1200px){}
